<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="App_Data">
    <system.webServer>
      <handlers>
        <add name="BlockDirectAccessToAppData" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
      </handlers>
    </system.webServer>
  </location>
</configuration>