name: .NET Build, Test and Allure Report

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Build and Restore
      run: dotnet build SocksShoppingStore/SocksShoppingStore.sln --configuration Release

    - name: Start Web App and Wait
      run: |
        # Запускаем приложение без сборки, так как оно уже собрано, и перенаправляем лог
        dotnet run --project SocksShoppingStore/SocksShoppingStore.csproj --no-build --urls "http://0.0.0.0:5123" > app.log 2>&1 &
        # Добавляем небольшую паузу ПЕРЕД началом проверки
        sleep 3
        
        echo "Waiting for web app..."
        for i in {1..30}; do
          STATUS=$(curl -s -o /dev/null -w "%{http_code}" http://127.0.0.1:5123)
          if [ $STATUS -eq 200 ]; then echo "Web app is ready!"; exit 0; fi
          sleep 1
        done
        
        echo "--- Web app log (app.log) ---"
        cat app.log
        echo "Web app failed to start."; exit 1
      timeout-minutes: 1

    - name: Run tests
      continue-on-error: true
      run: dotnet test SocksShoppingStore/SocksShoppingStore.sln --no-build --configuration Release

    - name: Generate Allure Report
      if: always()
      uses: simple-elf/allure-report-action@v1.7
      with:
        allure_results: SocksShoppingStore.Tests/allure-results
        allure_report: allure-report
        
    - name: Upload Allure Report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: allure-report
        path: allure-report